<!DOCTYPE html>
{% extends "webApp/headerFooter.html" %}
     {% block body_block %}
          {% load static %}


  <link rel="stylesheet" href="{% static "assets/css/cardStyle.css" %}">
  <style>
    body{
      margin-top: 120px;
    }
  </style>
  <form class="checkout" style="width: 350px;">
    <div class="checkout-header">
      <h1 class="checkout-title">
        Checkout
        <span class="checkout-price">₹₹</span>
      </h1>
    </div>
    <p>
      <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
      <input type="text" class="checkout-input checkout-exp" placeholder="MM">
      <input type="text" class="checkout-input checkout-exp" placeholder="YY">
    </p>
    <p>
      <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
      <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
    </p>
    <p>
      <input type="submit" value="Purchase" class="checkout-btn">
    </p>
  </form>

{% endblock %}
