<!DOCTYPE html>
{% extends "webApp/headerFooter.html" %}
     {% block body_block %}
          {% load static %}

          <style>
              body{
                  margin-top: 100px;
              }
          </style>



            <div class="container" >
                <div class="jumbotron">
                    {% if registered %}
                    <h1>Thank you for registering</h1>
                {% else %}
                    <h1>Register Here</h1>
                    <br>
                    <form enctype="multipart/form-data" method="POST">
                        <div class="mb-3">
                            {% csrf_token %}
                            {{ user_form.as_p }}
                         </div>
    
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>       
        
                {% endif %}
                </div>
                
            </div>

    {% endblock %}